
// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button {
	margin-bottom: 1rem;
	&:last-child{
		margin-bottom: 0;
	}
}

input,
textarea,
select,
fieldset {
	margin-bottom: 1.5rem;
	&:last-child{
		margin-bottom: 0;
	}
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 2.5rem;
	&:last-child{
		margin-bottom: 0;
	}
}
