
// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-secondary: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-system: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 1200px !default;
$container-width-skinny: 850px !default;
$container-width-larger-than-mobile: 95% !default;
$container-width-larger-than-phablet: 90% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
