//
// accordion
// --------------------------------------------------


// Imports variables and functions from theme
// -------------------------

@import '../../sources/scss/_Functions';
@import '../../sources/scss/_Variables';
@import '../../sources/scss/_Color';

// Base styles
// -------------------------

.accordion {
  position: relative;
  margin: 4rem 0;

  .accordion-item {
    position: relative;
    height: auto;
    display: block;
    border-bottom: 2px solid rgba($light-grey, 0.2);

    h4 {
      position: relative;
      letter-spacing: .1rem;
      text-transform: uppercase;
      color: inherit;
      font-size: 1.7rem;
      margin: 2rem 0;
      cursor: pointer;

      svg {
        position: absolute;
        height: 12px;
        width: 12px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        .st0 {
          fill: none;
          stroke: #8A8684;
          stroke-width: 3;
          stroke-miterlimit: 10;
        }
      }
    }

    > div {
      display: none;
      margin: 0 0 2rem 0;
      .flex {
        flex-direction: column;
        align-items: center;
      }
    }

    &.visible-first-load {
      h4 svg #vertical {
        display: none;
      }

      > div {
        display: block;
        margin: 0 0 2rem 0;
      }
    }
  }
}
