//
// Overview Item
// --------------------------------------------------

// Imports variables and functions from theme otherwice not accessible
// -------------------------

@import '../../sources/scss/_Functions';
@import '../../sources/scss/_Variables';
@import '../../sources/scss/_Color';

// Base styles
// -------------------------

a.overview-block {
  position: relative;
  display: block;
  width: calc(100% / 3 - 2rem);
  text-align: center;
  text-transform: uppercase;
  color: $dark-grey;
  margin-top: 3rem;
  margin-bottom: 3rem;
  @media screen and (#{$bp-tablet}) {
    width: calc(50% - 2rem);
  }
  @media screen and (#{$bp-mobile}) {
    width: 100%;
  }
  &:hover {
    img {
      opacity: 1;
      top: -.5rem;
    }
    h4, span {
      color: $color-primary;
    }
  }
  * {
    transition: all .3s ease-out;
  }
  img {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  h4 {
    color: inherit;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    @media screen and (#{$bp-phablet}) {
      font-size: 1.6rem;
    }
  }
  span {
    text-decoration: underline;
    font-size: 1.6rem;
    @media screen and (#{$bp-phablet}) {
      font-size: 1.2rem;
    }
  }
}
