//
// Banner
// --------------------------------------------------


// Imports variables and functions from theme
// -------------------------

@import '../../sources/scss/_Functions';
@import '../../sources/scss/_Variables';
@import '../../sources/scss/_Color';

// Base styles
// -------------------------

.inline-banner {
  position: relative;
  .background-image{
    opacity: .5;
    transition: all 2s ease;
  }
  .slide{
    min-height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &.left {
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
    }
  }
  h2 {
    color: white;
  }
  h3 {
    color: $color-secondary;
  }
}
