//
// simple header
// --------------------------------------------------


// Imports variables and functions from theme
// -------------------------

@import '../../sources/scss/_Functions';
@import '../../sources/scss/_Variables';
@import '../../sources/scss/_Color';

// Base styles
// -------------------------

header {
  height: auto;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: $black;

  @media screen and (#{$bp-desktop}) {
    max-height: 100%;
    overflow-y: auto;
  }

  + div.content-wrap {
    margin-top: 12rem;

    @media screen and (#{$bp-desktop}) {
      margin-top: 6.8rem;
    }

    @media screen and (#{$bp-mobile}) {
      margin-top: 5.8rem;
    }
  }

  .container {
    position: relative;
    height: 100%;

    @media screen and (#{$bp-desktop}) {
      display: block;
      text-align: center;
    }

    nav {
      @media screen and (#{$bp-desktop}) {
        display: none;
        width: 100%;
        max-height: calc(100vh - 6.75rem);
      }

      ul {
        list-style: none;
        display: flex;
        align-items: stretch;
        margin: 0;

        @media screen and (#{$bp-desktop}) {
          display: block;
          li {
            display: block;
            width: 100%;
            text-align: center;
            padding: 1rem 0;
          }
        }

        li {
          margin: 0;

          &.current-menu-item {
            a {
              color: $color-primary;
            }
          }

          .sub-menu {
            position: absolute;
            display: none;
            z-index: 1;
            background-color: $color-secondary;
            font-size: 15px;
            padding: 10px 0;
            margin-top: 1.5rem;

            @media screen and (#{$bp-desktop}) {
              position: relative;
            }

            li {
              display: block;
              padding: 5px 0;
              cursor: pointer;
              text-align: center;

              &:first-of-type {
                padding-top: 5px;
              }

              a {
                font-size: 1.2rem;
                display: block;
                padding: .25rem 1.75rem;
              }
            }
          }
        }
      }

      a {
        padding: 1.75rem;
        font-family: $font-family-secondary;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .25rem;
        color: $color-initial;
      }
    }

    #hamburger {
      position: absolute;
      top: 2.5rem;
      transform: translateY(-50%);
      display: none;
      cursor: pointer;
      @media screen and (#{$bp-desktop}) {
        display: block;
      }
      @media screen and (#{$bp-mobile}) {
        top: 2rem;
      }
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: $color-initial;
        margin: 6px 0;
        -webkit-transition: all .3s;
        transition: all .3s;
      }
      &.change {
        .bar1 {
          -webkit-transform: rotate(-45deg) translate(-5px, 4px);
          transform: rotate(-45deg) translate(-5px, 4px)
        }
        .bar2 {
          opacity: 0
        }
        .bar3 {
          -webkit-transform: rotate(45deg) translate(-6px, -7px);
          transform: rotate(45deg) translate(-6px, -7px)
        }
      }
    }

    .logo {
      height: 8rem;
      text-align: left;
      margin: 1rem 0;
      cursor: pointer;

      img {
        height: 100%;
        position: relative;

        @media screen and (#{$bp-desktop}) {
          height: 4rem;
          top: .45rem;
        }

        @media screen and (#{$bp-mobile}) {
          height: 3rem;
          top: .5rem;
        }
      }
    }
  }
}
