//
// simple header
// --------------------------------------------------


// Imports variables and functions from theme
// -------------------------

@import '../../sources/scss/_Functions';
@import '../../sources/scss/_Variables';
@import '../../sources/scss/_Color';

// Base styles
// -------------------------

.header {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  z-index: 100;
  transition: all 1s ease;
  @media screen and (#{$bp-desktop}) {
    min-height: 5rem;
    height: auto;
  }

  &.fixed {
    background: rgba(black,0.8);
    border-bottom: 2px solid black;
  }

  + div.content-wrap {
    // margin-top: 10rem;
    overflow-x: hidden;

    @media screen and (#{$bp-desktop}) {
      margin-top: 5rem;
    }
  }

  .container {
    position: relative;
    height: 100%;

    @media screen and (#{$bp-desktop}) {
      display: block;
      text-align: center;
    }

    nav {

      @media screen and (#{$bp-desktop}) {
        display: none;
        width: 100%;
        max-height: calc(100vh - 6.75rem);
      }

      ul {
        list-style: none;
        display: flex;
        align-items: stretch;
        margin: 0;

        @media screen and (#{$bp-desktop}) {
          display: block;
          li {
            display: block;
            width: 100%;
            text-align: center;
            padding: 1rem 0;
          }
        }

        li {
          margin: 0;
          position: relative;
          &.current-menu-item, &.current-menu-parent {
            > a {
              color: $color-secondary;
            }
          }

          a {
            padding: 1.75rem 1.3rem;
            font-family: $font-family;
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: .25rem;
            color: $color-initial;
            @media screen and (#{$bp-desktophd}) {
              padding: 1.75rem 1.3rem;
            }
            &:hover {
              color: $color-secondary;
            }
          }

          .sub-menu {
            position: absolute;
            left: 0;
            top: 40px;
            display: none;
            z-index: 2;
            background-color: rgba($black, 0.8);
            font-size: 15px;
            padding: 0 1rem 1rem 0;
            width: 220px;
            @media screen and (#{$bp-desktop}) {
              position: relative;
            }

            li {
              display: block;
              padding: 0.8rem 0;
              cursor: pointer;
              transition: .3s;
              &.current-menu-item  {
                padding-top: 5px;
              }

              &:hover {
                color: $color-secondary;
              }

              a {
                display: block;
                padding: .25rem 1.75rem;
              }
            }
          }
        }
        li.menu-item-has-children:hover {
          .sub-menu { display: block; }
        }
        .book-app a {
          font-family: $font-family-secondary;
          text-transform: lowercase;
          font-weight: 700;
          font-size: 1.6rem;
          letter-spacing: normal;
          padding-left: 4rem;
        }
      }
    }

    #hamburger {
      position: absolute;
      top: 2.5rem;
      right: 0;
      transform: translateY(-50%);
      display: none;
      cursor: pointer;
      @media screen and (#{$bp-desktop}) {
        display: block;
      }
      @media screen and (#{$bp-mobile}) {
        top: 2rem;
      }
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 2px;
        background-color: $color-initial;
        margin: 6px 0;
        -webkit-transition: all .3s;
        transition: all .3s;
      }
      &.change {
        .bar1 {
          -webkit-transform: rotate(-45deg) translate(-5px, 4px);
          transform: rotate(-45deg) translate(-5px, 4px)
        }
        .bar2 {
          opacity: 0
        }
        .bar3 {
          -webkit-transform: rotate(45deg) translate(-6px, -7px);
          transform: rotate(45deg) translate(-6px, -7px)
        }
      }
    }

    .logo {
      height: 6rem;
      text-align: left;
      cursor: pointer;

      img {
        height: 100%;
        position: relative;

        @media screen and (#{$bp-desktop}) {
          height: 4rem;
          top: .45rem;
        }

        @media screen and (#{$bp-mobile}) {
          height: 3.5rem;
          top: .5rem;
        }
      }
    }
  }
}

.page-header{
  position: relative;
  height: 40rem;
  width: 100%;
  padding: 0;
  position: relative;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  .background-image{
    opacity: .6;
    filter: grayscale(100%);
  }
  .container{
    max-width: 60rem;
    text-align: center;
  }
  .title {
    color: white;
    position: relative;
    text-transform: lowercase;
    margin: 0;
    font-size: 4.0rem;
  }
}
