
// Base styles
// -------------------------

.button, button {
	background: linear-gradient(to right, lighten($mid-grey, 3%) 50%, $mid-grey 50%);
	background-color: $mid-grey;
	background-size: 200% 100%;
	background-position: right bottom;
	border: none;
	box-sizing: border-box;
	color: $color-initial;
	cursor: pointer;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: .1rem;
	padding: 0.6rem 3rem 1rem 3rem;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	white-space: nowrap;
	transition: all .4s ease;
	font-family: $font-family-secondary;
	@media screen and (#{$bp-mobile}) {
		width: 100%;
	}

	&:hover {
		background-position: left bottom;
		color: $color-initial;
	}

	&:active {
		transform: scale(.975);
	}

	&.secondary {
		background: linear-gradient(to right, darken($color-secondary, 10%) 50%, $color-secondary 50%);
		background-size: 200% 100%;
		background-position: right bottom;
		background-color: $color-secondary;
		color: $color-primary;

		&:hover {
			background-position: left bottom;
		}
	}

	&.bordered {
		background: linear-gradient(to right, rgba($color-secondary, .25) 50%, transparent 50%);
		background-size: 200% 100%;
		background-position: right bottom;
		background-color: transparent!important;
		color: $color-primary;
		border: 2px solid $color-primary;

		&:hover {
			background-position: left bottom;
			border: 2px solid $color-secondary;
			color: $black;
		}

		&.secondary {
			background: linear-gradient(to right, rgba($color-secondary, .25) 50%, transparent 50%);
			background-size: 200% 100%;
			background-position: right bottom;
			color: $color-secondary;
			border-color: $color-secondary;

			&:hover {
				background-position: left bottom;
			}
		}
	}
}
