
// Repeated Elements
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.section {
  padding: 5rem 0;

  &.thin {
    padding: 2.5rem 0;
  }

  &.thick {
    padding: 10rem 0;
  }
}


.container {
  width: calc(100% - 2rem);
  max-width: $container-width;
  margin: 0 auto;

  &.small {
    max-width: $container-width-small;
  }
  &.smaller {
    max-width: $container-width-smaller;
  }
  &.skinny {
    max-width: $container-width-skinny;
  }
}

.dark{
  background-color: $dark-grey;
  color: white;
}
.black{
  background-color: $black;
  color: white;
}
.light{
  background-color: $light-grey;
}
.primary{
  background-color: $color-primary;
}
.white{
  background: white;
}

.color-white{
  color: white;
}
.color-primary{
  color: $color-primary;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.background-image{
  position: absolute 0;
  z-index: -1;
  overflow: hidden;
  @include background(cover, center, no-repeat);
  img{
    width: 100%;
    @supports (object-fit: cover){
      object-fit: cover;
      object-position: center;
      height: 100%;
    }
  }
}

.social{
  list-style: none;
  li{
    display: inline-block;
  }
  a{
    padding: 5px;
  }
}


// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Float either direction
.float-right {
  float: right;
}

.float-left {
  float: left;
}

// Clear a float with .clearfix
.clearfix {
  *zoom: 1;

  &:after,
  &:before {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.tacenter{
  text-align: center;
}
.taright{
  text-align: right;
}
.taleft{
  text-align: left;
}

.relative{
  position: relative;
}
