// Imports variables and functions from theme
// -------------------------

@import '../../sources/scss/_Functions';
@import '../../sources/scss/_Variables';
@import '../../sources/scss/_Color';


.partners {
  width: 100%;
  margin: 4rem 0;
  .partner_logos {
    width: 100%;
    position: relative;
    .slide {
      width: 120px;
      height: 40px;
      background-size: contain;
      transition: filter 1s;
      background-size: contain !important;
      margin: 0 2rem;
      display: block;
    }
  }
}
