@import "woo-responsive.scss";
@import "account.scss";

.woocommerce-info{
  display: block;
  flex-grow: 1;
  text-align: center;
  padding: 2.5rem;
  background-color: $light-grey;

  &:before{
    content: '\f05a ';
    font-family: 'FontAwesome';
    font-size: 3rem;
    margin-right: 1rem;
    vertical-align: middle;
  }
}

.woocommerce-message{
  padding: 2.5rem;
  background-color: $light-grey;
  text-align: center;
  margin-bottom: 2.5rem;
  .button{
    display: block;
    width: 300px;
    margin: 0 auto 1rem auto;
  }
  p{
    margin-bottom: 0;
  }
}

.woocommerce-error{
  @extend .woocommerce-message;
  li{
    list-style: none;
    text-align: left;
    max-width: 300px;
    margin: .5rem auto;
    &:before{
      content: '\f06a';
      font-family: 'FontAwesome';
      margin-right: .5em;
    }
  }
}

.woocommerce-thankyou-order-received{
  @extend .woocommerce-info;
}

.cart-empty{
  @extend .woocommerce-info;
}

.return-to-shop{
  text-align: center;
}

.woocommerce-pagination{
  ul{
    li{
      display: inline-block;
      a{
        padding: .2rem;
      }
      .page-numbers.current{
        font-weight: 700;
      }
    }
  }
}
